[Desktop Entry]
MimeType=application/x-gobo-ppc-package
Comment=GoboLinux package
Comment[af]=GoboLinux package
Comment[ar]=GoboLinux package
Comment[az]=GoboLinux package
Comment[be]=GoboLinux package
Comment[bg]=GoboLinux package
Comment[bn]=GoboLinux package
Comment[br]=GoboLinux package
Comment[bs]=GoboLinux package
Comment[ca]=GoboLinux package
Comment[cs]=GoboLinux package
Comment[cy]=GoboLinux package
Comment[da]=GoboLinux-pakke
Comment[de]=GoboLinux-verpackung
Comment[el]=GoboLinux package
Comment[eo]=GoboLinux package
Comment[es]=GoboLinux package
Comment[et]=GoboLinux package
Comment[eu]=GoboLinux package
Comment[fa]=GoboLinux package
Comment[fi]=GoboLinux package
Comment[fr]=Paquet de GoboLinux
Comment[fy]=GoboLinux package
Comment[ga]=GoboLinux package
Comment[gl]=GoboLinux package
Comment[he]=GoboLinux package
Comment[hi]=GoboLinux package
Comment[hr]=GoboLinux package
Comment[hu]=GoboLinux package
Comment[is]=GoboLinux package
Comment[it]=GoboLinux package
Comment[ja]=GoboLinux package
Comment[ko]=GoboLinux package
Comment[lt]=GoboLinux package
Comment[mk]=GoboLinux package
Comment[mn]=GoboLinux package
Comment[ms]=GoboLinux package
Comment[mt]=GoboLinux package
Comment[nb]=GoboLinux-pakke
Comment[nds]=GoboLinux package
Comment[nl]=GoboLinux package
Comment[nn]=GoboLinux-pakke
Comment[nso]=GoboLinux package
Comment[pa]=GoboLinux package
Comment[pl]=GoboLinux package
Comment[pt]=GoboLinux package
Comment[pt_BR]=GoboLinux package
Comment[ro]=GoboLinux package
Comment[ru]=GoboLinux package
Comment[se]=GoboLinux package
Comment[sk]=GoboLinux package
Comment[sl]=GoboLinux package
Comment[sq]=GoboLinux package
Comment[sr]=GoboLinux package
Comment[sr@Latn]=GoboLinux package
Comment[ss]=GoboLinux package
Comment[sv]=GoboLinux-paket
Comment[ta]=GoboLinux package
Comment[tg]=GoboLinux package
Comment[th]=GoboLinux package
Comment[tr]=GoboLinux package
Comment[uk]=GoboLinux package
Comment[uz]=GoboLinux package
Comment[ven]=GoboLinux package
Comment[wa]=GoboLinux package
Comment[xh]=GoboLinux package
Comment[xx]=xxGoboLinux packagexx
Comment[zh_CN]=GoboLinux package
Comment[zh_TW]=GoboLinux package
Comment[zu]=GoboLinux package
Icon=application-x-gobo-ppc-package
Type=MimeType
Patterns=*--ppc.tar.bz2;*--PPC.tar.bz2;
