[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-gobo-package
Icon=application-x-gobo-package
Type=MimeType
Patterns=*--i686.tar.bz2;*--ppc.tar.bz2;*--PPC.tar.bz2;
Comment=GoboLinux Package
Comment[af]=GoboLinux Pakkie
Comment[az]=GoboLinux Paketi
Comment[br]=Pakad GoboLinux
Comment[bs]=GoboLinux paket
Comment[ca]=Paquet de GoboLinux
Comment[cs]=GoboLinux balíček
Comment[cy]=Pecyn GoboLinux
Comment[da]=GoboLinux-pakke
Comment[de]=GoboLinux-Paket
Comment[el]=Πακέτο GoboLinux
Comment[eo]=GoboLinux-pakaĵo
Comment[es]=Paquete GoboLinux
Comment[et]=GoboLinuxi pakett
Comment[eu]=GoboLinux paketea
Comment[fi]=GoboLinux-paketti
Comment[fr]=Paquetage GoboLinux
Comment[fy]=GoboLinux Pakket
Comment[ga]=Pacáiste GoboLinux
Comment[gl]=Pacote GoboLinux
Comment[he]=חבילת GoboLinux
Comment[hr]=GoboLinux paket
Comment[hu]=GoboLinux-csomag
Comment[id]=Paket GoboLinux
Comment[is]=GoboLinux pakki
Comment[it]=Pacchetto GoboLinux
Comment[ja]=GoboLinux パッケージ
Comment[km]=កញ្ចប់ GoboLinux
Comment[lb]=GoboLinux-Päckchen
Comment[lt]=GoboLinux paketas
Comment[lv]=GoboLinux pakotne
Comment[ms]=Pakej GoboLinux
Comment[nb]=GoboLinux-pakke
Comment[nds]=GoboLinux-Paket
Comment[nl]=GoboLinux-pakket
Comment[nn]=GoboLinux-pakke
Comment[pl]=Pakiet GoboLinuxa
Comment[pt]=Pacote do GoboLinux
Comment[pt_BR]=Pacote GoboLinux
Comment[ro]=Pachet GoboLinux
Comment[ru]=Пакет GoboLinux
Comment[rw]=Rukomatanya GoboLinux
Comment[se]=GoboLinux-páhkka
Comment[sk]=Balík GoboLinuxu
Comment[sl]=Paket GoboLinux
Comment[sq]=Pako nga GoboLinux
Comment[sr]=GoboLinux пакет
Comment[sr@Latn]=GoboLinux paket
Comment[sv]=GoboLinux-paket
Comment[ta]=GoboLinux பொதி
Comment[tg]=Мактуби GoboLinux
Comment[th]=แฟ้มแพ็คเกจ GoboLinux
Comment[tr]=GoboLinux Paketi
Comment[tt]=GoboLinux Tuplaması
Comment[uk]=Пакунок GoboLinux
Comment[uz]=GoboLinux пакети
Comment[vi]=Gói GoboLinux
Comment[wa]=Fitchî pacaedje GoboLinux
Comment[zh_CN]=GoboLinux 包
Comment[zh_HK]=GoboLinux 套件
Comment[zh_TW]=GoboLinux 軟體包
