[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Compile
GenericName=Compilation tool
Type=Application
Comment=GoboLinux compilation tool
Exec=Compile
ShowOnlyIn=
Terminal=true
MultipleArgs=false
InitialPreference=5
MimeType=application/x-gobo-recipe
