[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=MakeRecipe
GenericName=Recipe creation tool
Type=Application
Comment=Tool to create a GoboLinux recipe
Exec=MakeRecipe
ShowOnlyIn=
Terminal=true
NoDisplay=true
MultipleArgs=false
InitialPreference=15
MimeType=application/x-bzip2-compressed-tar;application/x-bzip;application/x-bzip-compressed-tar;application/x-gzip;application/x-tbz;application/x-bzip2;application/x-compressed-tar;application/x-tar;application/x-gzip
