[Desktop Entry]
Comment=
Comment[en_US]=
Exec=firefox
GenericName=Web Browser
GenericName[en_US]=Web Browser
Icon=/Programs/FireFox/Current/icons/mozicon128.png
MimeType=
Name=FireFox
Name[en_US]=FireFox
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
