[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-gobo-recipe
X-KDE-IsAlso=application/x-tbz
Patterns=*--recipe.tar.bz2;*--Recipe.tar.bz2;
Icon=application-x-gobo-recipe
Comment=GoboLinux recipe
Comment[af]=GoboLinux recipe
Comment[ar]=GoboLinux recipe
Comment[az]=GoboLinux recipe
Comment[be]=GoboLinux recipe
Comment[bg]=GoboLinux recipe
Comment[bn]=GoboLinux recipe
Comment[br]=GoboLinux recipe
Comment[bs]=GoboLinux recipe
Comment[ca]=GoboLinux recipe
Comment[cs]=GoboLinux recipe
Comment[cy]=GoboLinux recipe
Comment[da]=GoboLinux-recept
Comment[de]=GoboLinux-rezept
Comment[el]=GoboLinux recipe
Comment[eo]=GoboLinux recipe
Comment[es]=GoboLinux recipe
Comment[et]=GoboLinux recipe
Comment[eu]=GoboLinux recipe
Comment[fa]=GoboLinux recipe
Comment[fi]=GoboLinux recipe
Comment[fr]=Recette de GoboLinux
Comment[fy]=GoboLinux recipe
Comment[ga]=GoboLinux recipe
Comment[gl]=GoboLinux recipe
Comment[he]=GoboLinux recipe
Comment[hi]=GoboLinux recipe
Comment[hr]=GoboLinux recipe
Comment[hu]=GoboLinux recipe
Comment[is]=GoboLinux recipe
Comment[it]=GoboLinux recipe
Comment[ja]=GoboLinux recipe
Comment[ko]=GoboLinux recipe
Comment[lt]=GoboLinux recipe
Comment[mk]=GoboLinux recipe
Comment[mn]=GoboLinux recipe
Comment[ms]=GoboLinux recipe
Comment[mt]=GoboLinux recipe
Comment[nb]=GoboLinux-resept
Comment[nds]=GoboLinux recipe
Comment[nl]=GoboLinux recipe
Comment[nn]=GoboLinux-resept
Comment[nso]=GoboLinux recipe
Comment[pa]=GoboLinux recipe
Comment[pl]=GoboLinux recipe
Comment[pt]=GoboLinux recipe
Comment[pt_BR]=GoboLinux recipe
Comment[ro]=GoboLinux recipe
Comment[ru]=GoboLinux recipe
Comment[se]=GoboLinux recipe
Comment[sk]=GoboLinux recipe
Comment[sl]=GoboLinux recipe
Comment[sq]=GoboLinux recipe
Comment[sr]=GoboLinux recipe
Comment[sr@Latn]=GoboLinux recipe
Comment[ss]=GoboLinux recipe
Comment[sv]=GoboLinux-recept
Comment[ta]=GoboLinux recipe
Comment[tg]=GoboLinux recipe
Comment[th]=GoboLinux recipe
Comment[tr]=GoboLinux recipe
Comment[uk]=GoboLinux recipe
Comment[uz]=GoboLinux recipe
Comment[ven]=GoboLinux recipe
Comment[wa]=GoboLinux recipe
Comment[xh]=GoboLinux recipe
Comment[xx]=xxGoboLinux recipexx
Comment[zh_CN]=GoboLinux recipe
Comment[zh_TW]=GoboLinux recipe
Comment[zu]=GoboLinux recipe
