[Desktop Entry]
Comment=
Exec=firefox
GenericName=Web Browser
Icon=/Programs/FireFox/Current/icons/mozicon16.xpm
Name=FireFox
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
